<h1>Welcome to Word Definitions</h1>
<h2>Aka, "Make Your Own Dictionary"</h2>

<h3>Add a word here:</h3>
<form action='/' method='post'>
  <div class='form-group'>
    <input id='word' name='word' placeholder='Word'>
  </div>
  <div class='form-group'>
    <input id='part_of_speech' name='part_of_speech' placeholder='Part of Speech'>
  </div>
  <button type='submit' class='btn btn-primary'>Add Word</button>
</form>

<h3>These are your words so far (click to add and see definitions):</h3>
<ul>
  <% @words.each() do |word| %>
  <li><a href='/word/<%= word.id %>'><%= word.word() %></a></li>
  <% end %>
</ul>

<h3>And here are some fun things you can do with your words list:</h3>

<h5><a href='/sorted'>Alphabetize Words</a></h5>
<h5><a href='/all'>View All Words and Definitions</a></h5>

<h5>Search for a word:</h5>
<form action='/search' method='post'>
  <div class='form-group'>
    <input id='searched_word' name='searched_word' placeholder='Word to Search For'>
  </div>
  <button type='submit' class='btn'>Search</button>
</form>
