<h1><%= @word.word() %> (<%= @word.part_of_speech() %>)</h1>
<ul>
  <% @word.definitions().each() do |definition| %>
  <li><%= definition.definition() %></li>
  <% end %>
</ul>

<form action='/word' method='post'>
  <div class='form-group'>
    <input type='hidden' id='word_id' name='word_id' value='<%= @word.id() %>'>
    <label for='definition'>New Definition</label>
    <input id='definition' name='definition'>
  </div>
  <button type="submit" class='btn'>Add Definition</button>
</form>


<a href='/'>Return to Word List</a>
